RPC_ENDPOINT=rpc_endpoint #optional
WS_ENDPOINT=ws_endpoint
PRIVATE_KEY=private_key
USE_PAYLOAD=true
BIDDER_ADDRESS="localhost:13524"
OFFSET=1
# 0 blobs means eth transfer. Otehrwise a nonzero blob count will send blobs
NUM_BLOB=0
BID_AMOUNT=0.0025
BID_AMOUNT_STD_DEV_PERCENTAGE=200
# mev-commit addresess as of v0.6.0
BIDDER_REGISTRY_ADDRESS=0x401B3287364f95694c43ACA3252831cAc02e5C41
BLOCK_TRACKER_ADDRESS=0x7538F3AaA07dA1990486De21A0B438F55e9639e4
PRECONF_MANAGER_ADDRESS=0x9433bCD9e89F923ce587f7FA7E39e120E93eb84D