DOMAIN=testnet.mev-commit.xyz # use for testnet
DOMAIN=mev-commit.xyz # use for mainnet
AUTO_DEPOSIT_AMOUNT=100000000000000000 # 1 ETH value
KEYSTORE_DIR=/directory/to/your/keystore
KEYSTORE_PASSWORD=your_keystore_password
VALIDATOR_OPT_IN_ROUTER_ADDRESS=0x251Fbc993f58cBfDA8Ad7b0278084F915aCE7fc3
MEV_COMMIT_BEACON_API_URL=url
L1_RPC_URLS=url1,url2,url3
PUBLIC_IP=127.0.0.1
MEV_COMMIT_VERSION=v1.1.0-rc1
SETTLEMENT_RPC_URL=url