RPC_ENDPOINT=rpc_endpoint #optional
WS_ENDPOINT=ws_endpoint
PRIVATE_KEY=private_key
USE_PAYLOAD=true
BIDDER_ADDRESS="mev-commit-bidder:13524"
OFFSET=1
ETH_TRANSFER="false"
BLOB="true"
BID_AMOUNT=0.0025
BID_AMOUNT_STD_DEV_PERCENTAGE=200